
.menu_box{position:fixed;top:50px;left:0;bottom:0;overflow:auto;overflow-x:hidden;width:189px;background:#f2f2f2;border-right:1px solid #ccc;z-index:10}
.menu_box ul{font-size:14px}
.menu_box ul li{border:1px solid #e5e5e5;border-width:1px 0}
.menu_box ul li h3{margin:0; font-size:14px;padding:0 16px 0 18px;display:block;height:38px;line-height:38px;color:#333;cursor:pointer}
.menu_box ul li i{margin-right:5px;color:#666;font-size:14px}
.menu_box ul li ul.sub_menu{border-top:1px solid #e5e5e5;background:#fff;display:none}
.menu_box ul li ul.sub_menu li{padding-left:10px}
.menu_box ul li ul.sub_menu li a{padding:0 16px 0 20px;display:block;height:38px;line-height:38px;color:#333;text-decoration:none}
.menu_box ul li ul.sub_menu li a:hover{color:#1963aa}
.menu_box ul li ul.sub_menu li a:hover i{color:#1963aa}
.menu_box ul li ul.sub_menu li.on{color:#1963aa}
.menu_box ul li ul.sub_menu li.on a{color:#1963aa}
.menu_box ul li ul.sub_menu li.on a i{color:#1963aa}